body.page-template-template-homepage {
  &.page {
    margin:0;
  }
  #hpVideo{
    overscroll-behavior: none;
    height: 100vh;
    width: 100vw;
    background: $color__background-body;
    display: flex;
    position: relative;

    header{
      position: relative;
      width: 35vw;
      max-width: 420px;
      text-align: center;
      padding-top: 20px;

      hgroup{
        font-weight:900;
        position: absolute;
        top:10%;
        left:5%;
        bottom:0;
        z-index: 10;

        h1, h2{
          color: $color__text-screen;
        }
        h1 {
          font-size: 10rem;
          text-align: left;
          line-height: 10rem ;

        }
        h2 {
          font-size: 2.5rem;
          text-align: left;
        }
      }
    }

    .video {
      min-width: 65%;
      width: 100%;
      overflow: hidden;

      video {

        width: 100%;
        min-height: 100vh;
        position: relative !important;
        object-fit: cover;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

