body.page-template-template-homepage {
  &.page {
    margin:0;
  }
  #hpVideo{
    overscroll-behavior: none;
    height: 100vh;
    width: 100vw;
    background: $color__background-body;
    display: flex;
    position: relative;

    header{
      position: relative;
      width: 0;

      hgroup{
        font-weight:900;
        position: absolute;
        top:20%;
        left:5%;
        bottom:0;
        z-index: 10;
        width: 100vw;
        text-align: center;

        h1, h2{
          font-family: 'anodinabold';
          text-transform: uppercase;
          -webkit-text-fill-color: transparent;
          display: inline-block;
          background: none;
        }

        h1 {
          font-size: 10rem;
          line-height: 10rem ;
          -webkit-text-stroke:3px $primary-color;
        }
        h2 {
          font-size: 2.5rem;
          -webkit-text-stroke:1px $primary-color;
        }
      }
    }

    #bgvid
    {
      position: absolute;
      top:-40px; //todo: check on different device.
      right:0;
      min-width:100vw;
      min-height:100vh;
    }
    .video-overlay {
      position: absolute;
      top:0;
      right:0;
      left:0;
      bottom:0;
      background: rgba(0,0,0,0.35);
      z-index: 8;
    }
    .video_container {
      width: 100vw;
      overflow: hidden;

      video {

        width: 100%;
        min-height: 100vh;
        position: relative !important;
        object-fit: cover;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

