body.page-template-template-homepage {
  &.page {
    margin:0;
  }
  #cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
  }
}

