$base: 3vh;
$time: 1800ms;
$ease-out: cubic-bezier(0.260, 0.005, 0.135, 1.000);
$ease-in-out: cubic-bezier(0.785, 0.135, 0.150, 0.860);




#portfolio {
  position: relative;
  overflow-x: scroll;
  z-index:2;

  .nav {
    display: none;
    position: fixed;
    top:50%;
    z-index:1;
  }
  a.go-to-next { right: 20px; }
  a.go-to-previous { left:20px;  }


  a.go-to-next,
  a.go-to-previous {
    padding: 20px 20px 30px 20px;
    color: $color__link-menu;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    cursor: pointer;
    font-size: $base*0.8;
    letter-spacing: $base*0.1;
    font-weight: 100;
    min-width: 165px;
    display: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index:100;

    &:after {
      content: '';
      display: block;
      width: $base*3;
      background: $primary-color;
      height: 1px;
      position: absolute;
      bottom: 16px;
      transform: translateY(-50%);
      transform-origin: 0% 50%;
      transition: transform $time/2 $ease-in-out;
    }
    &:before {
      content: '';
      display: block;
      width: $base/3;
      height: $base/3;
      transform: translateX(0) translateY(-50%) rotate(45deg);
      position: absolute;
      font-weight: 100;
      bottom: 8px;
      transition: transform $time/2 $ease-in-out;
    }
    &.go-to-next {
      &:after {
        left: 23px;
      }
      &:before {
        border-top: 1px solid $primary-color;
        border-right: 1px solid $primary-color;
        left: 100px;
      }
      &:hover {
        &:before {
          transform: translateX(#{$base*2}) translateY(-50%) rotate(45deg);
          transition: transform $time*2/3 $ease-in-out;
        }
        &:after {
          transform: scaleX(1.5);
          transition: transform $time*2/3 $ease-in-out;
        }
      }
    }
    &.go-to-previous {
      &:after {
        right: 23px;
        transform-origin: right;
      }
      &:before {
        border-left: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        right: 96px;
      }
      &:hover {
        &:before {
          transform: translateX(#{$base*-2}) translateY(-50%) rotate(45deg);
          transition: transform $time*2/3 $ease-in-out;
        }
        &:after {
          transform: scaleX(1.5);
          transition: transform $time*2/3 $ease-in-out;
        }
      }
    }
  }
  img
  {
    display: block;
    margin: 0px;
    max-width:none;
  }

  .content_title
  {
    position: absolute;
    padding: 50px 40px 50px 80px;
    background-color: #FFF;
    z-index: 10;
    font-size: 22px;
    margin-left: -60px;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  }

  .content_title .text
  {
    -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(20deg, 0deg);
  }

  .content_slider
  {
    width: 100%;
    overflow-x: scroll;
    height: 100vh;
  }

  .gallery_content
  {
    overflow: scroll;
    position: relative;
    margin-left: -170px;
    cursor: pointer;
    background-position: right;
    background-size: contain;

  }

  .gallery_item
  {
    cursor: pointer;
    float: left;
    overflow: hidden;
    vertical-align: top;
    margin-left: -2px;
    -webkit-transition: width 1000ms;
    -moz-transition: width 1000ms;
    -o-transition: width 1000ms;
    transition: width 1000ms;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    position: relative;
    a {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top:50vh;
      text-decoration: none;
    }
    &:last-child img{
      opacity: 0;
    }
    img
    {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      height:100%;
      z-index: -1;
    }

    h3
    {
      opacity:0;
      color: #000;
      font-size: 14px;
      font-weight: 200;
      background: rgba(#000, 0.9);
      padding: 10px 50px;
      -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    }
    &:hover h3
    {
      transition: all 0.9s;
      color: $primary-color;;
      font-size: 50px;
      opacity: 1;
    }
  }
}
