#portfolio {
  height:100vh;
  img
  {
    display: block;
    margin: 0px;
    max-width:none;
  }

  .content_title
  {
    position: absolute;
    padding: 50px 40px 50px 80px;
    background-color: #FFF;
    z-index: 10;
    font-size: 22px;
    margin-left: -60px;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
  }

  .content_title .text
  {
    -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(20deg, 0deg);
  }

  .content_slider
  {
    width: 100%;
    overflow-x: scroll;
    height: 100vh;
  }

  .gallery_content
  {
    overflow: hidden;
    margin-left: -170px;
    cursor: pointer;
    background-position: right;
    background-size: contain;
    a {
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-top:50vh;
      text-decoration: none;
    }
  }

  .gallery_item
  {
    cursor: pointer;
    float: left;
    overflow: hidden;
    vertical-align: top;
    margin-left: -2px;
    -webkit-transition: width 1000ms;
    -moz-transition: width 1000ms;
    -o-transition: width 1000ms;
    transition: width 1000ms;
    -webkit-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -moz-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    -ms-transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    transform: translate3d(0, 0, 0) skew(-20deg, 0deg);
    position: relative;

    &:last-child img{
      opacity: 0;
    }
    img
    {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      height:100%;
      z-index: -1;
    }

    h3
    {
      opacity:0;
      color: #000;
      font-size: 14px;
      font-weight: 200;
      background: rgba(#000, 0.9);
      padding: 10px 50px;
      -webkit-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -moz-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      -ms-transform: translate3d(0, 0, 0) skew(20deg, 0deg);
      transform: translate3d(0, 0, 0) skew(20deg, 0deg);
    }
    &:hover h3
    {
      transition: all 0.9s;
      color: $primary-color;;
      font-size: 50px;
      opacity: 1;
    }
  }
}
