/*
Error: Undefined variable: "$xl".
        on line 257 of navigation/_menus.scss
        from line 9 of navigation/_navigation.scss
        from line 71 of style.scss

Backtrace:
navigation/_menus.scss:257
navigation/_navigation.scss:9
style.scss:71
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/script/tree/node.rb:50:in `perform'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:555:in `block in run_interp_no_strip'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:553:in `map'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:553:in `run_interp_no_strip'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:560:in `run_interp'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:525:in `visit_media'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:88:in `block in with_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:88:in `with_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/maximebriand/.rvm/gems/ruby-2.4.0@global/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/Users/maximebriand/.rvm/gems/ruby-2.4.0/bin/scss:23:in `load'
/Users/maximebriand/.rvm/gems/ruby-2.4.0/bin/scss:23:in `<main>'
/Users/maximebriand/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `eval'
/Users/maximebriand/.rvm/gems/ruby-2.4.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$xl\".\A         on line 257 of navigation/_menus.scss\A         from line 9 of navigation/_navigation.scss\A         from line 71 of style.scss"; }
