@import "before-after";

body.single-chantiers {
  background: $color__background-body;
  .content {
    column-count: 2;
    column-gap: 40px;
    color: $color__text-screen;

    p:first-child{
      margin-top: 0;
    }
  }
}