h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $primary-color;
	font-family: 'kionaregular', sans-serif;
}

.main-navigation a,
.main-navigation a:visited
{
	color: $color__link-menu;
}

#hpVideo{
	hgroup {
		color: white;
	}
}