$size__site-main: 100%;
$size__site-sidebar: 25%;
$xxl: 1401px;
$xl: 1200px;
$lg: 960px;
$md: 720px;
$sm: 480px;
body.admin-bar {
    padding-top: 20px;
}

.container {
    width: 1300px;
    margin: auto;
}

@media screen and (max-width: $xxl) {
    .container {
        width: 1198px;
    }
}

@media screen and (max-width: $xl) {
    .container {
        width: 958px;
    }
}

@media screen and (max-width: $lg) {
    .container {
        width: 718px;
    }
}

@media screen and (max-width: $md) {
    .container {
        width: 478px;
    }
}

@media screen and (max-width: $sm) {
    .container {
        width: 318px;
    }
}