$size__site-main: 100%;
$size__site-sidebar: 25%;

.container {
  width: 1300px !important;
  margin: auto;
}

@media screen and (max-width:1401px){
  .container {
    width: 960px;
    margin: auto;
  }
}

@media screen and (max-width:960px){
  .container {
    width: 720px;
    margin: auto;
  }
}