$size__site-main: 100%;
$size__site-sidebar: 25%;
$xxl: 1401px;
$xl: 1200px;
$lg: 960px;
$md: 720px;
$sm: 480px;
.container {
    width: 1300px !important;
    margin: auto;
}

@media screen and (max-width: $xxl) {
    .container {
        width: 960px;
        margin: auto;
    }
}

@media screen and (max-width: $lg) {
    .container {
        width: 720px;
        margin: auto;
    }
}